<selection ng-controller="MatieresCtrl">
        <selection class="panel panel-padding">
                <br>
                <div id="L1" class="lotMatieres">
                    <p class="semestre" data-ytta-id="-">1e Semestre</p>
			
                    <a href="#!/about" ng-click="searchFichiers('MLJ1E21O', 'indifférent')" data-ytta-id="-">CBI</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ1E22O', 'indifférent')" data-ytta-id="-">Intro Prog</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ1U2O', 'indifférent')" data-ytta-id="-">Prog 1</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLJ1U1O', 'indifférent')" data-ytta-id="-">Maths 1</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ1U4O', 'indifférent')" data-ytta-id="-">Methodologie</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ1U6C', 'indifférent')" data-ytta-id="-">Bio 1</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ1U7C', 'indifférent')" data-ytta-id="-">Eco 1</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ1U8C', 'indifférent')" data-ytta-id="-">Physique 1</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ1U9C', 'indifférent')" data-ytta-id="-">Socio 1</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ1UZF', 'indifférent')" data-ytta-id="-">Projet de Prog 1</a> Apparemment y a pas-->
                    <a href="#!/about" ng-click="searchFichiers('MLJ1UYF', 'indifférent')" data-ytta-id="-">Projet Arith Z/nZ</a>
                    
                    <p class="semestre" data-ytta-id="-">2e Semestre</p>
                    
                    <a href="#!/about" ng-click="searchFichiers('MLJ2E21O', 'indifférent')" data-ytta-id="-">Prog 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2U1O', 'indifférent')" data-ytta-id="-">Maths 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ1U4O', 'indifférent')" data-ytta-id="-">Methodologie</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2U6C', 'indifférent')" data-ytta-id="-">Bio 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2U7C', 'indifférent')" data-ytta-id="-">Eco 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2U8C', 'indifférent')" data-ytta-id="-">Physique 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2U9C', 'indifférent')" data-ytta-id="-">Socio 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2UZF', 'indifférent')" data-ytta-id="-">Projet de Prog 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2E22O', 'indifférent')" data-ytta-id="-">Num. et log</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2E41O', 'indifférent')" data-ytta-id="-">Anglais 1</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ2E42O', 'indifférent')" data-ytta-id="-">C2I</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ2U4O', 'indifférent')" data-ytta-id="-">Culture générale</a>-->
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ2UYF', 'indifférent')" data-ytta-id="-">Approx. num. Inté.</a>-->

                </div>
                <div id="L2_info" class="lotMatieres">
                    <p class="semestre" data-ytta-id="-">1e Semestre</p>
        
                    <a href="#!/about" ng-click="searchFichiers('MLJ3E52O', 'indifférent')" data-ytta-id="-">PPE</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ3E51O', 'indifférent')" data-ytta-id="-">Anglais 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ3U6C', 'indifférent')" data-ytta-id="-">Bio 3</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ3U7C', 'indifférent')" data-ytta-id="-">Eco 3</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ3U8C', 'indifférent')" data-ytta-id="-">Physique 3</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK3U1O', 'indifférent')" data-ytta-id="-">Algebre 3</a>-->
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK3U3O', 'indifférent')" data-ytta-id="-">Intro aux probas</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLL3U4O', 'indifférent')" data-ytta-id="-">Probas pour l'info 1</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL3U2O', 'indifférent')" data-ytta-id="-">Prog impérative</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL3U3O', 'indifférent')" data-ytta-id="-">BDD</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL3UAC', 'indifférent')" data-ytta-id="-">Archi</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL3U1O', 'indifférent')" data-ytta-id="-">Algo</a>
                    
                    <p class="semestre" data-ytta-id="-">2e Semestre</p>
                    
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ3U5O', 'indifférent')" data-ytta-id="-">Culture générale 3</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLJ4U6C', 'indifférent')" data-ytta-id="-">Bio 4</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ4U6CI', 'indifférent')" data-ytta-id="-">Bio 4 - géné. molécul.</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLJ4U7C', 'indifférent')" data-ytta-id="-">Eco 4</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ4U8C', 'indifférent')" data-ytta-id="-">Physique 4</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK4U1O', 'indifférent')" data-ytta-id="-">Algebre 4</a>-->
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK4U3O', 'indifférent')" data-ytta-id="-">Env. calc. scienti.</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLL4U1O', 'indifférent')" data-ytta-id="-">POO</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4U2O', 'indifférent')" data-ytta-id="-">Projet</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4U3O', 'indifférent')" data-ytta-id="-">Systeme</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4UAC', 'indifférent')" data-ytta-id="-">Théorie orga.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4UBC', 'indifférent')" data-ytta-id="-">Théorie langages</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4UCC', 'indifférent')" data-ytta-id="-">SICG</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4UDC', 'indifférent')" data-ytta-id="-">Web</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLL4UZF', 'indifférent')" data-ytta-id="-">Entreprenariat 1</a>-->

                </div>
                <div id="L2_math" class="lotMatieres">
                    <p class="semestre" data-ytta-id="-">1e Semestre</p>
        
                    <a href="#!/about" ng-click="searchFichiers('MLJ3E52O', 'indifférent')" data-ytta-id="-">PPE</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ3E51O', 'indifférent')" data-ytta-id="-">Anglais 2</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ3U5O', 'indifférent')" data-ytta-id="-">Culture générale 3</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLJ3U6C', 'indifférent')" data-ytta-id="-">Bio 3</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ3U6CI', 'indifférent')" data-ytta-id="-">Bio 3 - neurophysi.</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLK3BF1', 'indifférent')" data-ytta-id="-">Normes sur RD</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL3U1O', 'indifférent')" data-ytta-id="-">Algo</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL3U2O', 'indifférent')" data-ytta-id="-">Prog impérative</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ3U7C', 'indifférent')" data-ytta-id="-">Eco 3</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ3U8C', 'indifférent')" data-ytta-id="-">Physique 3</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK3U1O', 'indifférent')" data-ytta-id="-">Algebre 3</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK3U2O', 'indifférent')" data-ytta-id="-">Analyse 3</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK3U3O', 'indifférent')" data-ytta-id="-">Intro aux probas</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK3UYF', 'indifférent')" data-ytta-id="-">Normes sur RD +</a>
                    
                    <p class="semestre" data-ytta-id="-">2e Semestre</p>
                    
                    <a href="#!/about" ng-click="searchFichiers('MLJ4U7C', 'indifférent')" data-ytta-id="-">Eco 4</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ4U8C', 'indifférent')" data-ytta-id="-">Physique 4</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK4U1O', 'indifférent')" data-ytta-id="-">Algebre 4</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK4U2O', 'indifférent')" data-ytta-id="-">Analyse 4</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK4U5O', 'indifférent')" data-ytta-id="-">Intro aux stats</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ4U6C', 'indifférent')" data-ytta-id="-">Bio 4</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLJ4U6CI', 'indifférent')" data-ytta-id="-">Bio 4 - géné. molécul.</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLK4U3O', 'indifférent')" data-ytta-id="-">Env. calc. scienti.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK4U4O', 'indifférent')" data-ytta-id="-">Analyse ingé. 1</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK4UCC', 'indifférent')" data-ytta-id="-">Complé. Math oral</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK4UYF', 'indifférent')" data-ytta-id="-">Projet: esp. suites</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4U1O', 'indifférent')" data-ytta-id="-">POO</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4U2O', 'indifférent')" data-ytta-id="-">Projet</a>                            
                    <a href="#!/about" ng-click="searchFichiers('MLL4UAC', 'indifférent')" data-ytta-id="-">Théorie orga.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL4UBC', 'indifférent')" data-ytta-id="-">Théorie langages</a>
                </div>
                <div id="L3_info" class="lotMatieres">
                    <p class="semestre" data-ytta-id="-">1e Semestre</p>
        
                    <a href="#!/about" ng-click="searchFichiers('MLK5U1O', 'indifférent')" data-ytta-id="-">Calc. différentiels</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ5U6C', 'indifférent')" data-ytta-id="-">Bio 5</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U71O', 'indifférent')" data-ytta-id="-">Eco 5</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ5U8C', 'indifférent')" data-ytta-id="-">Physique 5</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK5U1O', 'indifférent')" data-ytta-id="-">Algebre 5 - Topologie</a> Déjà mis en calc diff ??? -->
                    <a href="#!/about" ng-click="searchFichiers('MLK5U5O', 'indifférent')" data-ytta-id="-">Esp. eucl. opti.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U3O', 'indifférent')" data-ytta-id="-">Probas 5</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U2O', 'indifférent')" data-ytta-id="-">POO avancée</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U1O', 'indifférent')" data-ytta-id="-">Gélo</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U4O', 'indifférent')" data-ytta-id="-">Maths pour l'info</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U5O', 'indifférent')" data-ytta-id="-">Reseaux</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5UAC', 'indifférent')" data-ytta-id="-">Prog Unix</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5UBC', 'indifférent')" data-ytta-id="-">BDD avancée</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U3O', 'indifférent')" data-ytta-id="-">Algo avancée</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5UCO', 'indifférent')" data-ytta-id="-">ASCI</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5UDO', 'indifférent')" data-ytta-id="-">Gestion entreprise</a>
                    
                    <p class="semestre" data-ytta-id="-">2e Semestre</p>
                    
                    <a href="#!/about" ng-click="searchFichiers('MLJ6U6CI', 'indifférent')" data-ytta-id="-">Bio 6</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ6UHC', 'indifférent')" data-ytta-id="-">Bio-Informatique</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U71C', 'indifférent')" data-ytta-id="-">Eco 6 - internatio.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U72C', 'indifférent')" data-ytta-id="-">Eco 6 - publique</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK6U1O', 'indifférent')" data-ytta-id="-">Esp. de Hilbert</a> Matiere de maths-->
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK6U3O', 'indifférent')" data-ytta-id="-">Trans. Fourier</a> Matiere de maths -->
                    <!--<a href="#!/about" ng-click="searchFichiers('MLL3U4O', 'indifférent')" data-ytta-id="-">Probas pour l'info 2</a> Déjà mis pour proba 1 ??????? -->
                    <a href="#!/about" ng-click="searchFichiers('MLL6UCC', 'indifférent')" data-ytta-id="-">Reseaux avancés</a>
                    
                    <a href="#!/about" ng-click="searchFichiers('MLL6E11O', 'indifférent')" data-ytta-id="-">Communication</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6E12O', 'indifférent')" data-ytta-id="-">Anglais 3</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLL6E13O', 'indifférent')" data-ytta-id="-">Projet tutoré</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLL4U2O', 'indifférent')" data-ytta-id="-">Projet</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U1O', 'indifférent')" data-ytta-id="-">Préprofessionnalisation</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U2O', 'indifférent')" data-ytta-id="-">Stage</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U3C', 'indifférent')" data-ytta-id="-">IA</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U4C', 'indifférent')" data-ytta-id="-">Trait. num. données</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U5C', 'indifférent')" data-ytta-id="-">Ana. eco. strat. entrep.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6UBC', 'indifférent')" data-ytta-id="-">Image</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6UDC', 'indifférent')" data-ytta-id="-">Sys. num. com.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6UEC', 'indifférent')" data-ytta-id="-">Gest fin + cont gest</a>
                </div>
                <div id="L3_math" class="lotMatieres">
                    <p class="semestre" data-ytta-id="-">1e Semestre</p>
        
                    <a href="#!/about" ng-click="searchFichiers('MLK5U1T1', 'indifférent')" data-ytta-id="-">Topo. et Calc. diff.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U2O', 'indifférent')" data-ytta-id="-">Mesure et intégration</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ5U6C', 'indifférent')" data-ytta-id="-">Bio 5</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U71O', 'indifférent')" data-ytta-id="-">Eco 5 - incertain</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U72O', 'indifférent')" data-ytta-id="-">Eco 5 - dyna et croiss</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK5U1O', 'indifférent')" data-ytta-id="-">Algebre 5 - Topologie</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U1O', 'indifférent')" data-ytta-id="-">Algebre 5 - Mes. & inté.</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLJ5U8C', 'indifférent')" data-ytta-id="-">Physique 5</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5UAO', 'indifférent')" data-ytta-id="-">Analyse de données</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5UEC', 'indifférent')" data-ytta-id="-">Struc algébriques</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U3O', 'indifférent')" data-ytta-id="-">Probabilités</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U4O', 'indifférent')" data-ytta-id="-">Analyse ingé. 2</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5U5O', 'indifférent')" data-ytta-id="-">Esp. eucl. opti.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL3U3O', 'indifférent')" data-ytta-id="-">BDD</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5UCO', 'indifférent')" data-ytta-id="-">Maths appliqués</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5UFC', 'indifférent')" data-ytta-id="-">Maths et modéli.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK5UYF', 'indifférent')" data-ytta-id="-">Esp. de Banache</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U1O', 'indifférent')" data-ytta-id="-">Gélo</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U2O', 'indifférent')" data-ytta-id="-">POO avancée</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U3O', 'indifférent')" data-ytta-id="-">Algo avancée</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL5U5O', 'indifférent')" data-ytta-id="-">Réseaux</a>
                    
                    <p class="semestre" data-ytta-id="-">2e Semestre</p>
                    
                    <a href="#!/about" ng-click="searchFichiers('MLJ6U6CI', 'indifférent')" data-ytta-id="-">Bio 6</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ6UHC', 'indifférent')" data-ytta-id="-">Bio-Informatique</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK6UHC', 'indifférent')" data-ytta-id="-">Bio-Informatique B</a> a l'air de ne pas exister-->
                    <a href="#!/about" ng-click="searchFichiers('MLK6U71C', 'indifférent')" data-ytta-id="-">Eco internatio.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U72C', 'indifférent')" data-ytta-id="-">Eco publique</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6UDC', 'indifférent')" data-ytta-id="-">Projet economie</a>
                    <a href="#!/about" ng-click="searchFichiers('MLJ6U8C', 'indifférent')" data-ytta-id="-">Physique 6</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6UGC', 'indifférent')" data-ytta-id="-">Algebre 6</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6UEC', 'indifférent')" data-ytta-id="-">Analyse 6</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U1O', 'indifférent')" data-ytta-id="-">Esp. de Hilbert</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U3O', 'indifférent')" data-ytta-id="-">Trans. Fourier</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U2O', 'indifférent')" data-ytta-id="-">Méthodes num.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U4O', 'indifférent')" data-ytta-id="-">Stats inféren.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6U5O', 'indifférent')" data-ytta-id="-">Logiciels stats</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6UFC', 'indifférent')" data-ytta-id="-">Sys dynamiques</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLK6UWO', 'indifférent')" data-ytta-id="-">Anglais 3 - A</a> Inutile vu la qtté de fic-->
                    <a href="#!/about" ng-click="searchFichiers('MLL6E12O', 'indifférent')" data-ytta-id="-">Anglais 3</a>
                    <a href="#!/about" ng-click="searchFichiers('MLK6UYF', 'indifférent')" data-ytta-id="-">Proj. esp. fonc.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6UCC', 'indifférent')" data-ytta-id="-">Réseaux avancés</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6E11O', 'indifférent')" data-ytta-id="-">Communication</a>
                    <!--<a href="#!/about" ng-click="searchFichiers('MLL6E13O', 'indifférent')" data-ytta-id="-">Projet tutoré</a>-->
                    <a href="#!/about" ng-click="searchFichiers('MLL4U2O', 'indifférent')" data-ytta-id="-">Projet</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U1O', 'indifférent')" data-ytta-id="-">Préprofessionnalisation</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U3C', 'indifférent')" data-ytta-id="-">IA</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6U4C', 'indifférent')" data-ytta-id="-">Trait. num. données</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6UBC', 'indifférent')" data-ytta-id="-">Image</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6UDC', 'indifférent')" data-ytta-id="-">Sys. num. com.</a>
                    <a href="#!/about" ng-click="searchFichiers('MLL6UEC', 'indifférent')" data-ytta-id="-">Gest fin + cont gest</a>
                </div>
            <br>
                
        </selection>
</selection>
