
<selection class="panel panel-padding" ng-controller="MatieresCtrl">
    <img style="width: 100%;" src="img/accueil.png" alt="le micro onde envoie des petites ondes">
    <table class="choixNiv">
        <tr>
            <td colspan="2"><a class="boutonNiveau" href="#!/choixMatiere" ng-click="getMatiere('L1')">L1</a></td>
        </tr>
        <tr>
            <td><a class="boutonNiveau" href="#!/choixMatiere" ng-click="getMatiere('L2_info')">L2 info</a></td>
            <td><a class="boutonNiveau" href="#!/choixMatiere" ng-click="getMatiere('L2_math')">L2 Maths</a></td>
        </tr>
        <tr>
            <td><a class="boutonNiveau" href="#!/choixMatiere" ng-click="getMatiere('L3_info')">L3 info</a></td>
            <td><a class="boutonNiveau" href="#!/choixMatiere" ng-click="getMatiere('L3_math')">L3 Maths</a></td>
        </tr>

    </table>
</selection>

